.article {
  display: flex;
  flex-wrap: wrap;

  & .article__content {
    max-width: 100%;
  }

  & .article__embed {
    flex-grow: 1;
    margin-left: var(--space-xl);
    max-height: calc(100vh - var(--space-xl));
  }
}