html {
  background: var(--color-purple);
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--font);
  font-size: 18px;
  margin: 0;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

::selection {
  color: var(--color-white);
  background: var(--color-purple);
}

::-moz-selection {
  color: var(--color-white);
  background: var(--color-purple);
}

main {
  padding: var(--space);
}

.wrap {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

h1, h2, h3 {
  margin: var(--space) 0 var(--space-sm) 0;

  & + p {
    margin-top: 0;
  }
}

h1 {
  font-size: var(--size-xl);
}

h2 {
  margin-top: var(--space-lg);
}

p, ul, ol {
  color: var(--color-body);
}

h2 + p {
  margin-top: var(--space-sm);
}

a {
  color: var(--color-azuri);
  text-decoration: none;
}

ul, ol {
  padding-left: 1.1em;
}

ul > li,
ol > li {
  margin-bottom: .3em;
}

img {
  box-shadow: var(--shadow);
  display: block;
  max-width: 100%;
}

.subtitle {
  margin-top: calc(var(--space-sm) * -1);
  font-size: var(--size-lg);
}

.arrow-link {
  font-family: var(--font-code);
}

@media (min-width: 500px) {
  h1 {
    font-size: 2em;
  }

  main {
    padding: var(--space-lg);
  }
}