html {
  background: var(--color-purple);
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  line-height: 1.3;
}

::selection {
  color: var(--color-white);
  background: var(--color-purple);
}

::-moz-selection {
  color: var(--color-white);
  background: var(--color-purple);
}

main {
  padding: var(--space);
}

.wrap {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

h1, h2 {
  margin: var(--space) 0 var(--space-sm) 0;
}

h1 {
  font-size: var(--size-xl);
}

h2 {
  margin-top: var(--space-lg);
}

p, ul, ol {
  color: var(--color-body);
}

h2 + p {
  margin-top: var(--space-sm);
}

a {
  color: var(--color-azuri);
  text-decoration: none;
}

ul {
  padding-left: 1.1em;
}

ul > li {
  margin-bottom: .3em;
}

img {
  box-shadow: var(--shadow);
  display: block;
  max-width: 100%;
}

.subtitle {
  margin-top: calc(var(--space-sm) * -1);
  font-size: var(--size-lg);
}

code {
  color: var(--color-razzmatazz);
  font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 0.875em;
  line-height: 1.575em;
  padding: 0 .25em;
}

code[class*='language-'],
pre[class*='language-'] {
  background: transparent;
  border-radius: 0;
  padding: 0;
  color: var(--color-black);
  font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 0.875em;
  line-height: 1.575em;
  tab-size: 4;
  text-align: left;
  hyphens: none;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}

pre[class*='language-'] {
  overflow: auto;
  padding: var(--space);
  margin: 0;
  border: 1px solid var(--color-mercury);
}

.token.keyword {
  font-weight: bold;
}

.token.string {
  color: var(--color-emperor);
}

.token.function, .token.tag, .token.class-name, .token.number {
  color: var(--color-razzmatazz);
}

@media (min-width: 500px) {
  main {
    padding: var(--space-lg);
  }
}